<div class="row">
  <div class="column">
    <div class="image-text-pair">
      <img src="assets/import-doc.svg" alt="Picture1" class="svg-icon">
      <span>Import scans</span>
    </div>
  </div>
  <div class="column">
    <div class="image-text-pair">
      <img src="assets/list-of-docs.svg" alt="Picture2" class="svg-icon">
      <span>Documents list after OCR</span>
    </div>
  </div>
  <div class="column">
    <div class="image-text-pair">
      <img src="assets/search-doc.svg" alt="Picture3" class="svg-icon">
      <span>Search document</span>
    </div>
  </div>
</div>
