<div class="row">
  <div class="column">
    <div routerLink="/import-scan" class="image-text-pair" style="cursor: pointer;">
      <img src="assets/import-doc.svg" alt="Picture1" class="svg-icon">
      <span>Import scans</span>
    </div>
  </div>
  <div class="column">
    <div routerLink="/document-list" class="image-text-pair" style="cursor: pointer;">
      <img src="assets/list-of-docs.svg" alt="Picture2" class="svg-icon">
      <span>Documents list after OCR</span>
    </div>
  </div>
  <div class="column">
    <div routerLink="/search-document" class="image-text-pair" style="cursor: pointer;">
      <img src="assets/search-doc.svg" alt="Picture3" class="svg-icon">
      <span>Search document</span>
    </div>
  </div>
</div>
