.column {
  float: left;
  width: 20.33%;
  padding: 1px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.image-text-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.image-text-pair img {
  max-width: 140px;
  margin-bottom: 10px;
}

.image-text-pair .svg-icon {
  fill: #ff0000; /* Set the fill color to red - adjust to your desired color */
}

.image-text-pair span {
  font-weight: bold;
  font-size: 20px;
  color: rgb(38, 60, 218);
}
