.container-outer {
  margin: 10px;
}

.container-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.document-container {
  border: 1px solid #ccc;
  padding: 10px;
  line-height: 2;
  background-color: #f2f2f2; /* Dodaj tę linię, aby ustawić kolor tła */
}

.row {
  display: flex;
}

.column {
  flex: 1;
}

.column p {
  margin: 0;
}

.column p::before {
  margin-right: 5px;
}

.column p::after {
  margin-left: 5px;
}

.column p:first-child::before,
.column p:last-child::after {
}

.column span.bold-text::before {
  margin-right: 5px;
}

.column span.bold-text::after {
  margin-left: 5px;
}

.bold-text {
  font-weight: bold;
}
