.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #00467f;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.navbar-logo img {
  max-height: 50px;
  margin-right: 20px;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
}

.navbar-actions {
  margin-left: auto; /* Pushes the actions to the right */
}
